body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}


.container {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

header {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}